.container {
  max-width: 800px;
  margin: 100px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e5e5e5;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 14px;
  overflow: hidden;
}

.container h1 {
  text-align: center;
  color: #fca311;
}

.container span {
  float: left;
  margin: 30px 40px;
  color: red;
  font-size: 1rem;
  font-weight: bold;
}
.container span::before {
  display: inline;
  content: "⚠ ";
}

@media screen and (max-width: 700px) {
  .container {
    border-radius: 0;
    margin: 100px auto;
  }
}
